<ul>
<% @attendees.each do |attendee| %>
    <li>
        <%= attendee.name %>
        <%= link_to 'Show', event_attendee_path(@event, attendee) %>
        <%= link_to 'Edit', event_attendee_path(@event, attendee) %>
        <%= link_to 'Destroy', event_attendee_path(@event, attendee), :method => :delete %>

    </li>
<% end %>
</ul>

<%= link_to 'New Attendee', new_event_attendee_path(@event) %>
<%= link_to 'Back to Index', events_path %>
