<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title><%= @page_title || "Event application" %></title>
=======
  <title>HelloWorld</title>
>>>>>>> 95c64ec3b8489a2e2850ef549fd4583fbd7fe482
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:alert] %></p>
=======

>>>>>>> 95c64ec3b8489a2e2850ef549fd4583fbd7fe482
<%= yield %>

</body>
</html>
